* {
    background-color: #282c34;
}

.App {
    text-align: center;

    color: #4C7CBF;
}


.App-logo {
    max-width: 400px;
    margin-top: 50px;
    opacity: 0.8;

}

/* .App-header {
    /* background-color: #282c34; */
/* min-height: 100vh; */
/* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
/* font-size: calc(10px + 2vmin); */
/* color: white; */
/* } */

.App-footer {
    color: #98C8DF;
    text-align: center;
    margin: 20px 0;
}